<header class="flex">
    <img
      alt="Net Pass logo"
      width="75"
      src="assets/images/lock.png"
    />
    <div style="text-align: center">
      <h1>Welcome to Net Pass</h1>
    </div>
    <div class="flex">
        <img
        alt="Net Pass logo"
        width="50"
        style="cursor: pointer"
        src="assets/images/logout.png"
        (click)="logout()"
        />
    </div>
</header>
<div class="main" fxLayoutAlign="center center" fxLayout="column">
  <form
    [formGroup]="passwordSettingsForm"
    fxLayout="column"
    class="input-number">
    <mat-form-field>
      <input
        matInput
        type="number"
        placeholder="Password Length"
        formControlName="length"
        required
        min = "6"
        >
    </mat-form-field>
  </form>

  <div class="cards" fxLayoutAlign="center center" fxLayout="row">
    <div
      class="card"
      (click)="changeValue('numbers')"
      [ngClass]="{'selected': passSettings.numbers, 'not-selected': !passSettings.numbers}">
        Include Numbers:( e.g. 123456 )
    </div>

    <div
      class="card"
      (click)="changeValue('lowerCase')"
      [ngClass]="{'selected': passSettings.lowerCase, 'not-selected': !passSettings.lowerCase}">
        Include Lowercase Characters:( e.g. abcdefgh )
    </div>

    <div
      class="card"
      (click)="changeValue('upercase')"
      [ngClass]="{'selected': passSettings.upercase, 'not-selected': !passSettings.upercase}">
        Include Uppercase Characters:( e.g. ABCDEFGH )
    </div>

    <div
      class="card"
      (click)="changeValue('symbols')"
      [ngClass]="{'selected': passSettings.symbols, 'not-selected': !passSettings.symbols}">
        Include Symbols:( e.g. @#$% )
    </div>
    
    
    <div
      class="card"
      (click)="changeValue('space')"
      [ngClass]="{'selected': passSettings.space, 'not-selected': !passSettings.space}">
        Exclude Space
    </div>
  </div>

  <div fxLayoutAlign="center center">
      <button
        [disabled]="!passwordSettingsForm.valid"
        (click)="generatePassword()"
        mat-raised-button
        class="button">
        Generate password 
      </button>
  </div>

  <div *ngIf="password">
    <div style="text-align: center; margin: 20px 0 0px;">
      <span>Password:</span>
    </div>
    <div class="password">
      <span>{{password}}</span>
    </div>
  </div>
</div>
