  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header {
    background-color: #2a5279;
    color: white;
    padding: 5px;
    border-radius: 3px;
  }
  
  .main {
    margin: 20px 36px;
    background-color: #2a5279;
  }
  