  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header {
    background-color: #2a5279;
    color: white;
    padding: 5px;
    border-radius: 3px;
  }
  
  .main {
    margin: 20px 0;
    background-color: #2a5279;

    .circle {
      background-color: white;
      // border-radius: 50%;
      height: 74vw;
      width: 76vw;
      margin: 10px;
    }
  }
  