<div
    fxLayoutAlign="center center"
    style="height: 100%;">
    <div
        class="container"
        style="width: 430px; background-color: white;"
        fxLayoutAlign="center center">

        <form
            fxLayout="column"
            fxLayoutGap="36px">
            <mat-form-field>
                <input
                    mat-input type="text"
                    placeholder="User name"
                    required />
            </mat-form-field>
            <mat-form-field>
                <input
                    mat-input
                    type="password"
                    placeholder="Password"
                    required>
            </mat-form-field>

            <div>
                <button mat-raised-button> Login </button>
              </div>
        </form>

    </div>
</div>